<p id="notice"><%= notice %></p>

<center>


<div class="Projects py-5 bg-light">
      <div class="container">
        <div class="col-md-12">
          <div class="card mb-12 box-shadow text-center">
            <div class="card-header"> <h4><%= @project.title %></h4> </div>
            <div class="card-body">
              <p  class="card-text" > <%= @project.description %></p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>





<%= link_to "<button type='button' class='btn btn-sm btn-outline-secondary'>Back</button>".html_safe, projects_path %>

<% if student_signed_in? %>
  <%= link_to "<button type='button' class='btn btn-sm btn-outline-secondary'>Edit</button>".html_safe, edit_project_path(@project) %>
<% end %>
</center>